:root {
  --light-blue: rgb(175, 228, 248);
  --dark-blue: rgb(69, 171, 212);
  --barely-blue: rgb(219, 245, 255);
}


/* General Typography */
h1 {  font-size: 3em;}
h2 {  font-size: 2em;}
h3 {  font-size: 1.75em;}
h4 {  font-size: 1.5em;}
h5 {  font-size: 1.25em;}

header h1 {
  text-align: center;
}

/* Custom Font Families */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cormorant', serif;
  margin: 0.5rem 0
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
}

body {
  font-family: 'Sarala', Roboto, sans-serif;
  font-size: 16px;
}

header {
  text-align: center;
  background-image: linear-gradient(-90deg, white, skyblue);
}

h2 img {
  margin: -20px 1rem -50px;
  border-radius: 50%;
  background-color: var(--light-blue);
  box-shadow: 0 0 15px var(--dark-blue);
}

.btn-fluid {
  width: 100%;
}

#search form button {
  margin-top: 0.5rem;
}
#search-results li {
  cursor: pointer;
  transition: 400ms;
}
#search-results li:hover {
  background-color: rgb(240,240,240);
}

#current.hasWeather {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
  border: 1px solid gray;
}
.label {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid skyblue;
  padding: 0 8px;
  margin-bottom: 0.5rem;
}
.label+.label {
  margin-left: 4px;
}
.label span {
  position: relative;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 0 2px 2px 0;
  background-color: var(--barely-blue);
  left: 8px;
}

.card-text {
  padding: 0.5rem;
}
.card-text .label {
  margin: 2px ;
}

.label.green {
  border-color: rgb(65, 181, 67);
}
.label.green span {
  background-color: rgb(185, 228, 186);
}
.label.yellow {
  border-color: rgb(181, 177, 45);
}
.label.yellow span {
  background-color: rgb(242, 230, 121);
}
.label.red {
  border-color: rgb(181, 82, 65);
}
.label.red span {
  background-color: rgb(228, 185, 185);
}
.label.danger {
  border-color: rgb(173, 0, 0);
}
.label.danger span {
  background-color: rgb(255, 93, 93);
}

#five-day {
  display: none;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

.card-title {
  background-color: var(--light-blue);
  padding: 0 1rem;
  margin-bottom: 0;
}

.card img {
  background-image: linear-gradient(var(--dark-blue),var(--light-blue));
}

